body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #16181d;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16181d;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.button {
  background-color: #4945ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button--alt {
  background-color: transparent;
  color: #7b8df7;
  border: solid 1px #d9d8fc;
}

.button + .button {
  margin-left: 1rem;
}

.main {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
}

.hero-text {
  max-width: 564px;
  margin-right: 136px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero h2 {
  margin-top: 0;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  width: 55%;
}

.card {
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
}

.tagline {
  text-align: center;
  margin-bottom: 10rem;
}

.tagline h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about {
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  text-align: left;
}

.about img {
  margin-right: 8rem;
}

.shareButton, .learnButton {
  background-color: #4945ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.steps {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
  max-width: 80%;
}

.stepsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.step-card {
  list-style-type: none;
}

.step-number {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.resources {
  text-align: center;
  margin-bottom: 2rem;
}

.links {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.resources a {
  color: #7b8df7;
  text-decoration: none;
}

a.link--alt {
  text-decoration: underline;
  color: inherit;
}

.prizes {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.prizes p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.prizesGrid {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.prizesGrid div {
  padding: 1rem;
  border-radius: 4px;
  text-align: left;
}

.faq {
  text-align: left;
  margin-bottom: 8rem;
  width: 40%;
}

.faq h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.faq details {
  width: 100%;
  border-bottom: solid 1px #4a4a68;
}

/* .faq details.open */

.faq details + details {
  margin-top: 1rem;
}

.faq details p {
  margin-top: 0;
}

.faq summary {
  cursor: pointer;
  width: 100%;
  padding-bottom: 1rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
