body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.register-header .logo {
  position: absolute;
  top: 1rem;
  left: .5rem;
}

.form-container {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 1rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  text-align: left;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #28283e;
  border-radius: 4px;
  background-color: #212133;
  color: #fff;
}

button {
  background-color: #4945ff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #7c76ff;
}
