.member {
  margin-bottom: 1.5rem;
  display: flex;
}

.member label + label {
  margin-left: 3rem;
}

.confirmation-container p {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

input.looking-for-team {
  width: auto;
}

a.button, .button {
  background-color: #4945ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: .8rem;
}

a.button--alt, button.button--alt {
  background-color: transparent;
  color: #7b8df7;
  border: solid 1px #d9d8fc;
}

a.button:hover, button.button:hover,
a.button--alt:hover, .button--alt:hover {
  background-color: #7c76ff;
}

a.button--alt:hover, button.button--alt:hover {
  color: #fff;
  border-color: transparent;
}

button.button--final {
  position: absolute;
  bottom: 4rem;
  right: 4rem;  
}